body {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: ##eee7fb;
  font-family: 'Josefin Sans', sans-serif; 
}

.calculator {
  box-shadow: 0px 0px 20px 5px #3c2d565f;
  border-radius: 30px;
  background-color: #7c75fb;
  padding: 40px;
  width: 400px;
}

.display {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
  background-color: #daf0f957;
  padding: 10px;
  border-radius: 20px;
  font-size: 2em;
}

.input {
  font-size: 1.6em;
  color: #ffe6c7;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 20px 0;
  font-size: 2em;
  transition: background-color 0.3s ease;
  background-color: #ba7af5;
  box-shadow: 0px 0px 8px 1.6px #7303ea7c;
  color: #ebf6fa;
  font-family: 'Josefin Sans', sans-serif;
}

.btn:hover {
  background-color: #b3fafd52;
  box-shadow: 0px 0px 8px 1.6px #89ecf987;
}

.op {
  color: #fe0485;
}

.zero {
  grid-column: span 2;
  border-radius: 10px;
}

.equals {
  grid-column: span 2;
  border-radius: 10px;
  color: #fe0485;
  background-color: #d5d3ff;
}


@media only screen and (max-width: 700px) {
  .calculator {
    padding: 24px;
    width: 240px;
    height: 350px;
  }

  .display {
    height: 48px;
    margin-bottom: 24px;
    font-size: 1.5em;
  }

  .buttons {
    gap: 10px;
  }

  .btn {
    padding: 10px 0;
    font-size: 1.28em;
  }
}


@media only screen and (max-width: 500px) {
  .calculator {
    padding: 18px;
    width: 200px;
  }

  .display {
    height: 48px;
    margin-bottom: 18px;
    font-size: 1.1em;
  }

  .buttons {
    gap: 8px;
  }

  .btn {
    padding: 8px 0;
    font-size: 1em;
  }
}


@media only screen and (max-width: 300px) {
  .calculator {
    padding: 8px;
    width: 144px;
    height: 230px;
    border-radius: 20px;
  }

  .display {
    height: 32px;
    margin-bottom: 8px;
    font-size: 0.8em;
  }

  .buttons {
    gap: 7px;
  }

  .btn {
    padding: 4.5px 0;
    font-size: 0.9em;
  }
}


@media only screen and (max-width: 200px) {
  .calculator {
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    height: 110px;
  }

  .display {
    height: 10px;
    margin-bottom: 2px;
    font-size: 0.5em;
  }

  .buttons {
    gap: 3px;
  }

  .btn {
    padding: 1.2px 0;
    font-size: 0.5em;
  }
}