
body{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    box-shadow: 0 0 25px 7px rgb(31, 26, 63);
    background-color: rgb(120, 105, 149);
    padding: 40px;
    width: 400px;
    border-radius: 38px;
}

.display{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10%;
    background-color: aliceblue;
    padding: 12px;
    font-size: 2.5rem;
}

.input{
    color: rgb(7, 78, 140);
    font-size: 3rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

}

.btn{
    border: none;
    border-radius: 13px;
    padding: 25px 0;
    font-size: 2.5em;
    background-color: gray;
    color: aliceblue;
    box-shadow: 0 0 10px 10px blue;
}

.btn:hover{
    background-color: aqua;
}

.op{
    color: purple;
}

.zero{
    grid-column: span 2;
}

.equals{
    grid-column: span 2;
    color: cadetblue;
}


@media only screen and (max-with: 700px) {
    .calculator {
        padding: 30px;
        width: 200px;
    }

    .display {
        height: 60px;
        margin-bottom: 30px;
        font-size: 2em;
    }

    .buttons {
        gap: 15px;
    }

    .btn {
        padding: 15px o;
        font-size: 1.6em;
    }
}

@media only screen and (max-with: 500px) {
    .calculator {
        padding: 20px;
        width: 250px;
    }

    .display {
        height: 50px;
        margin-bottom: 20px;
        font-size: 1.6em;
    }

    .buttons {
        gap: 10px;
    }

    .btn {
        padding: 10px o;
        font-size: 1.3em;
    }
}

@media only screen and (max-with: 365px) {
    .calculator {
        padding: 10px;
        width: 180px;
    }

    .display {
        height: 40px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    .buttons {
        gap: 5px;
    }

    .btn {
        padding: 5px o;
        font-size: 1em;
    }
}